* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

section{
    padding-top: 48px;
    padding-bottom: 48px;
}

h1{
    font-size: 2.6rem;
    margin-bottom: 1.5rem;
}

p{
    color: rgb(85, 76, 76);
    max-width: 640px;
}

.button {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 40px;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.25rem;
}

.callToAction {
    
    background-color: black;
    color: white;
}

.buttonSecondary {
    color: black;
    border: 1pX solid black;
}
.container {
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(107, 93, 93);
}

#logoLink {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}

#logoLink,
h1,
h2,
h3,
h4,
h5,
h6 { 
    font-family: 'Lora', serif;
    font-weight: 600;
} 

nav{
    display: none;
}

.buttonHolder {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media only screen and (min-width: 600px) {
    .buttonHolder {
        flex-direction: row;
    }
}

@media only screen and (min-width: 768px) {
    #menuButton {
        display: none;   
    }
    
    nav{
        display: block;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        list-style: none;
    }

    nav a {
        text-decoration: none;
        color: rgb(78, 34, 34);
        
    }
}